body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  font-family: 'Roboto', sans-serif;
  background-color: #343434;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-family: 'Roboto Serif', serif;
}

.hero {
  fill: #eee;
  background-image: url(../img/hero.jpg);
  height: 500px;
  background-size: cover;
  background-position: center top;
  display: flex;
  align-items: center;
}

.hero-article {
  fill: #eee;
  background-image: url(../img/hero.jpg);
  height: 80px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-wrapper {
  margin: 0 auto;
  padding: 0 16px;
}


.hero h1 {
  font-size: 48px;
  color: #eee;
  text-shadow: 0px 0px 5px #000000;
}

.hero-article h1 {
  font-size: 48px;
  color: #eee;
  text-shadow: 0px 0px 5px #000000;
}

.article-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 36px auto;
  max-width: 95%;
}

.article-column {
  flex: 0 0 calc(33.33% - 16px);
  position: relative;
  margin-bottom: 36px;
}

@media (max-width: 768px) {
  .article-column {
    flex: 1 1 100%;
  }
}

.article-column img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.5s ease;
}

.article-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.article-overlay span {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.article-column:hover .article-overlay {
  opacity: 1;
}

.article-column:hover img {
  filter: brightness(70%);
}

.col-container {
  padding-top: 24px;
  max-width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-4 {
  flex: 0 0 33%;
  max-width: 30%;
  padding: 16px;
}

.col-md-4 img {
  width: 100%;
}

@media (max-width: 767px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.body-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.logo {
  padding: 0px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  list-style-type: none;
  margin: 0 10px;
}

.nav-menu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #fff;
  color: #1A1A1A;
}

.about-us {
  margin-top: 36px;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.container {
  max-width: 800px;
  width: 90%;
}

p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

.logo img:hover {
  filter: invert(1);
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

footer {
  background-color: #343434;
  color: #eee;
  line-height: 1.5;
}


.footer-wrapper {
  padding: 24px;
  max-width: 1100px;
  margin: 0 auto;
}



@media screen and (min-width: 769px) {
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #1A1A1A;
    border: 1px solid #ccc;
    padding: 0;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .about-us {
    margin-top: 16px;
  }

  .hero h1 {
    padding-left: 16px;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1A1A1A;
    padding: 8px 0;
  }

  .nav-menu li {
    margin: 8px 0;
  }

  .nav-menu a {
    color: #fff;
    padding-left: 30px;
  }

  .nav-menu a:hover {
    color: #1A1A1A;
  }

  .nav-menu.active {
    display: flex;
  }

  .dropdown-menu {
    display: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    padding-left: 8px;
  }

  .footer-content {
    padding: 0 16px;
  }
}