# Usability Testing Report

## Introduction

In order to test the function and usability of the site, we undertook a series of tests with a number of potential users that were within our intented target audience.
This included friends, fellow apprentices on the consultancy course and young colleagues, some of whom were also apprentices. We ruled out interviewing older colleagues, as our site is intended for students potentially living in Fallowfield, the vast majority of which are between the ages of 18-25.

We condensed our aims into three main goals of testing due to the timescale we had to complete the sessions and synthesise our results. The three goals were:
- Determine how easily users can find specific information on the site, such as the contact page or information on specific events available to attend.
- Evaluate how intuitive the site navigation is and identify any pain points or confusion in the user journey.
- Understand how users interact with the site on different devices, such as desktop or mobile, and identify any issues with responsiveness or usability on different screen sizes.

For the first two goals, we completed mostly remote sessions over MS Teams as this allowed us to record sessions to look back upon and take findings. The final goal was more tricky as it required use of mobile devices to test the interface on different sized screens. Additonally, we quickly realised that we did not have a prototype available for desktop sized devices, as we were operating under the 'mobile first' design methodology.

We set the interviewee a series of tasks to complete using the mobile and desktop versions of our prototype, and evaluated them on their ability to complete the tasks without input from us. Any time that an interviewer was required to 'nudge' the user in the right direction, we noted down the step that caused issue.

We then sorted the issues based on the freqency that they arose and the potential severity of the issue, for example if a user is unable to find the form to subscribe to emails, then we will lose retention of our potential audience base.

## Findings
We found that in general, users liked the style of the site and that each page was consistent. This allowed users to quickly understand the layout of the site and build familarity.

However there were a few issues that repeated across users that we interviewed. These are the issues that we would like to address during development of the site:
-  Ability to fill in the form to subscribe to newsletter. As this is one of the key actions of the site, it is an issue that some users had difficulty locating the form.
- Names of page headings. The heading 'Location' proved difficult - this is a screen that allows users to find places to shop and places to go out in the evening, so this is a key area.
- Number of clicks to find social media icons. 


## Actions
As a result of the issues found, we decided on a few actions to improve the usability of the site:
- Add the subscription form to the footer of each page. During research, we found that users would quickly glance at the footer, so this is a good place to add a brief call to action that directs a user to subscribe to the newsletter.
- Seperate the 'Where to buy' and 'Nights out' screens. The users had issue finding key information from the 'Locations' page as there was a lot of information on one single page, and it was not entirely relevant. We have decided to have a 'Locations' dropdown in which the user can select 'Where to shop' and 'Nights out' seperately.
- Remove the social media icons. This caused issue during the testing, and we decided that the value added by having social media icons (the group does not have social media) was diminished by the usability issues we found when conducting testing.

## Results of further testing

Further testing allowed us to uncover issues with the site's content including the repetition of images used. The final site will incorporate more vibrant imagery to contrast with the colour scheme of the site. In addition, we will attempt to provide and include icons from nights out and shopping locations to provide users with context to their decisions.

> Download -[Mini User Journey](sp4-media/mini-user-journey.pdf) forms.

## Exit survey

> Download -[Completed exit survey](sp4-media/exit-form.pdf).

## Consent form(s)

- Download -[Completed consent form(s) - Sally](sp4-media/consent-form-sally.pdf).
- Download -[Completed consent form(s) - George](sp4-media/consent-form-george.pdf).
- Download -[Completed consent form(s) - Will](sp4-media/consent-form-billy.pdf).
- Download -[Completed consent form(s) - Alvio](sp4-media/consent-form-alvio.pdf).

---
