# Usability Testing Report

## Introduction

In order to test the function and usability of the site, we undertook a series of tests with a number of potential users that were within our intented target audience.
This included friends, fellow apprentices on the consultancy course and young colleagues, some of whom were also apprentices. We ruled out interviewing older colleagues, as our site is intended for students potentially living in Fallowfield, the vast majority of which are between the ages of 18-25.

We condensed our aims into three main goals of testing due to the timescale we had to complete the sessions and synthesise our results. The three goals were:
- Determine how easily users can find specific information on the site, such as the contact page or information on specific events available to attend.
- Evaluate how intuitive the site navigation is and identify any pain points or confusion in the user journey.
- Understand how users interact with the site on different devices, such as desktop or mobile, and identify any issues with responsiveness or usability on different screen sizes.

For the first two goals, we completed mostly remote sessions over MS Teams as this allowed us to record sessions to look back upon and take findings. The final goal was more tricky as it required use of mobile devices to test the interface on different sized screens. Additonally, we quickly realised that we did not have a prototype available for desktop sized devices, as we were operating under the 'mobile first' design methodology.

We set the interviewee a series of tasks to complete using the mobile and desktop versions of our prototype, and evaluated them on their ability to complete the tasks without input from us. Any time that an interviewer was required to 'nudge' the user in the right direction, we noted down the step that caused issue.

We then sorted the issues based on the freqency that they arose and the potential severity of the issue, for example if a user is unable to find the form to subscribe to emails, then we will lose retention of our potential audience base.

1. What did you do?
 
3. Why did you do it?
4. How did you do it?

### Findings

(500 words)

Discuss the key issues that have been identified (positive and negative). This must closely relate to your observations (in your notes) and any exit surveys.

4. What did you find?

## Actions

Detail the changes your group has decided on in response to the initial testing and any subsequent test sessions.

Create an updated version of the page design and add this to the report.

## Results of further testing

Any further testing should be evidenced (photographs, notes and actions). Tutors will not just accept _we did some more testing_.

<!-- ## Notes

> Download -[Mini User Journey](sp4-media/mini-user-journey.pdf) forms.

Scan your completed notes as a single pdf, add to the sp4-media folder and link above. -->

## Exit survey

> Download -[Completed exit survey](sp4-media/exit-form.pdf).

Scan your completed survey as a single pdf, add to the sp4-media folder and link above.

## Consent form(s)

- Download -[Completed consent form(s) - Sally](sp4-media/consent-form-sally.pdf).
- Download -[Completed consent form(s) - George](sp4-media/consent-form-george.pdf).
- Download -[Completed consent form(s) - Will](sp4-media/consent-form-billy.pdf).
- Download -[Completed consent form(s) - Alvio](sp4-media/consent-form-alvio.pdf).

Scan your completed consent form(s) as a single pdf, add to the sp4-media folder and link above.

---
